*
{
    margin: 0;
    padding: 0;
}

canvas 
{
    outline: 1px solid rgb(21, 22, 79);
    background-color: rgb(139, 219, 248);
    max-height: 70vh;
    max-width: 100vw;

}

html
{
    background-color: rgb(248, 225, 161);
    text-align: center;
}

section.full
{
    width: 100%;
    margin: 0;
}

